<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1번 문제</title>
  <script></script>
  <link rel="stylesheet" href="../style/main.css" />
  <script type="text/javascript" src="../js/five.js" ></script>
</head>
<body>
  <div class="main">
    <div class="mainblock">
      <h1 class="title">답을 입력하세요</h1>
    </div>
    <div class="mainblock">
        <img src="../img/five.png" class="fiveimg"/>
        <input type="text" id="onePw" class="pwtext"/>
        <button type="button" class="pwbtn" onclick="quiz();" value="버튼">확인</button>
    </div>
  </div>
</body>
</html>