<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1번 문제</title>
  <script></script>
  <link rel="stylesheet" href="../style/main.css" />
  <script type="text/javascript" src="../js/four.js" ></script>
</head>
<body>
  <div class="main">
    <div class="mainblock">
      <h1 class="title">비밀번호를 입력하세요</h1>
    </div>
    <div class="mainblock"> 
      <div>
        <div class="no1">1. 구하라 그리하면 너희에게 주실 것이요 찾으라 그리하면 찾아낼 것이요 문을 두드리라 그리하면 너희에게 열릴 것이니</div>
      </div>
      <div>
        <div class="no1">2. 내가 네게 명령한 것이 아니냐 강하고 담대하라 두려워하지 말며 놀라지 말라 네가 어디로 가든지 네 하나님 여호와가 너와 함께 하느니라 하시니라</div>
      </div>
      <div>
        <div class="no1">3. 그런즉 믿음, 소망, 사랑, 이 세 가지는 항상 있을 것인데 그 중의 제일은 사랑이라 </div>
      </div>
      <div>
        <div class="no1">4. 그런즉 너희가 먹든지 마시든지 무엇을 하든지 다 하나님의 영광을 위하여 하라</div>
      </div>
      <input type="text" id="onePw" class="pwtext"/>
      <button type="button" class="pwbtn" onclick="quiz();" value="버튼">확인</button>
    </div>
  </div>
</body>
</html>