<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1번 문제</title>
  <link rel="stylesheet" href="../style/main.css" />
  <script type="text/javascript" src="../js/one.js" ></script>
</head>
<body>
  <div class="main">
    <div class="mainblock">
      <h1 class="title">비밀번호를 입력하세요</h1>
    </div>
    <div class="mainblock">
        <input type="text" id="onePw" name="pwtext" class="pwtext"/>
        <button type="button" class="pwbtn" onclick="quiz();" value="버튼">확인</button>
    </div>
  </div>
</body>
</html>  
<script type="application/javascript">
  function quiz(){
    let go = document.getElementById('onePw').value;
    const answer = '12396'
    let progress ="passNo1"
    console.log('go', go);
    if(go === answer) {
      alert('정답입니다.')
      localStorage.setItem('단계',progress)
      location.replace('/view/two.html')
      
    } else{
      alert('틀렸습니다.')
    }

  }

</script>